*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.container {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.text h1 {
  color: #E53170;
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 45px;
}

.text p{
  font-size: .9rem;
}

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.box{
  background-color: yellow;
  width: calc(100%/3 - 40px);
  margin: 30px 20px;
  text-align: left;
  height: 75px;
}

.box img {
  width: 75px;
  height: 75px;
  margin-right: 5px;
}

.box .box-text{
  padding: 10px;
}