*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

.container {
  background-color: white;
  width: 80%;
  margin: 20px auto;
  max-width: 1200px;
}

/* float-properties */

.float-left{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* text */

.text {
  text-align: center;
}

.text h1 {
  color: #E53170;
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 45px;
}

.text p{
  font-size: .9rem;
}



/* box */

.box{
  background-color: #09080E;
  width: calc(100%/3 - 30px);
  margin: 30px 15px 20px;
}

.box img {
  width: 75px;
  margin-right: 8px;
}

.box-text{
  margin-top: 5px;
}

.box-text .name,
.box-text .job{
  color: white;
}

.box-text .job,
.box-text .email{
  font-size: .8rem;
}

.box .box-text>.name{
 font-size: 1rem;
 margin-bottom: 2px;
}

.box .box-text>.job{
  margin-bottom: 2px;
}

.box .box-text>.email{
  color: #62C3D5;
}

.email{
  display: block;
}

/* box */